#watch{
    position: relative;
}

#scherm {
    border: solid 1px black;
    position: absolute;
    top: 80px;
    margin-left: 33px;
    width: 179px;
    height: 72px;
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    
}

#start {
    position: absolute;
    top: 193px;
    margin-left: 100px;
    width: 45px;
    height: 30px;
}

#reset {
    position: absolute;
    top: 193px;
    width: 33px;
    height: 20px;
    margin-left: 60px;
}

#light {
    position: absolute;
    top: 193px;
    width: 33px;
    height: 20px;
    margin-left: 154px;
}







/* #button{
    display:flex;
    margin-bottom: 10px;
    margin-left: 1px;
    width: 124px;
    background-color: blue;
    font-size: 27px;      
} */