#form{
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
}

h2{
    font-size: 15px;
}

h1{
    font-size: 20px;
}

input{
    display: flex;

}

label{
    display: flex;
}